.typewriter {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typewriterEffect 4s steps(30) infinite;
}

@keyframes typewriterEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.rotating-word {
  display: inline-block;
  animation: rotateColorChange 6s infinite;
  color: transparent;
  transition: color 0.3s ease;
}

@keyframes rotateColorChange {
  0%,
  100% {
    color: transparent;
  }
  25% {
    color: rgba(146, 145, 232, 255);
  }
  75% {
    color: rgba(146, 145, 232, 255);
  }
}
